@keyframes MoveUpDown {
    0%, 100% {
      transform: translate(-50%, 0);
    }
    50% {
      transform: translate(-50%, -5px);
    }
}

@keyframes bounce {
    0% {
      transform: translateX(0px);
      timing-function: ease-in;
    }
    37% {
      transform: translateX(5px);
      timing-function: ease-out;
    }
    55% {
      transform: translateX(-5px);
      timing-function: ease-in;
    }
    73% {
      transform: translateX(4px);
      timing-function: ease-out;
    }
    82% {
      transform: translateX(-4px);
      timing-function: ease-in;
    }
    91% {
      transform: translateX(2px);
      timing-function: ease-out;
    }
    96% {
      transform: translateX(-2px);
      timing-function: ease-in;
    }
    100% {
      transform: translateX(0px);
      timing-function: ease-in;
    }
}

@keyframes sun {
    0%,
    100%{
        transform: translateX(-50%) rotate(-5deg);
    }
    50%{
        transform: translateX(-50%) rotate(5deg);
    }
}

@keyframes wave {
    0%, 100% {
      left: 0;
    }
    50% {
      left: -200%;
    }
}
@keyframes wave-updown {
    0%, 100% {
      top: 3rem
    }
    50% {
      top: 2.5rem;
    }
}

@keyframes wave-card {
    0%, 100% {
        left: 0;
    }
    50% {
        left: -100%;
    }
}
@keyframes wave-card-updown {
    0%, 100% {
      bottom: 0;
    }
    50% {
      bottom: -.5rem;
    }
}

@keyframes fishes {
    0%, 100%{
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
}

@keyframes slideIn {
    from {
       left: -400px;
    }
    
    to {
       left: 20px;
    }
 }
 
 
 @keyframes slideOut {
    from {
        bottom: 20px;
    }
    
    to {
        bottom: -500px;
    }
 }
  