$color-dark: #414141;
$color-darkAqua: #0f6a68;
$color-cyan: #1f7dbe;
$color-persianGreen: #009d98;
$color-topaz: #2bbdb9;
$color-seaMist: #c5d7d6;
$color-orange: #f15b47;
$color-offGreen: #e2f8f7;
$color-americanGreen: #40b549;